* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0E6DA;
  color: #75070C;
}
h1, h2, h3, .logo {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #FFEDAB;
}
.logo {
  font-size: 22px;
}
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #75070C;
}
.nav-links a:hover {
  color: #4F6815;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #FFEDAB;
  border: 2px solid #75070C;
  border-radius: 8px;
  min-width: 140px;
}
.dropdown-content a {
  display: block;
  padding: 8px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}
.small-text {
  color: #4F6815;
  margin-bottom: 5px;
}
.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.role {
  font-weight: bold;
  color: #4F6815;
  margin-bottom: 15px;
}
.hero p {
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background-color: #75070C;
  color: #F0E6DA;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
}
.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #75070C;
  border: 8px solid #75070C;
  display: block;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.about {
  background-color: #4F6815;
  color: #F0E6DA;
  padding: 50px;
  text-align: center;
}
.about p {
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}
.skills {
  padding: 60px 50px;
  text-align: center;
}
.skill-card-big {
  max-width: 350px;
  margin: 0 auto 20px auto;
  background-color: #75070C;
  color: #F0E6DA;
  padding: 40px 20px;
  border-radius: 15px;
}
.skill-icon {
  width: 55px;
  height: 55px;
  background-color: #FFEDAB;
  color: #75070C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto 20px auto;
}
.skill-card-big h3 {
  font-size: 22px;
  margin-bottom: 8px;
}
.skill-card-big p {
  color: #FFEDAB;
  font-size: 14px;
  letter-spacing: 1px;
}
.skill-card:hover {
  transform: translateY(-6px);
  background: #FFEDAB;
}
.projects {
  background-color: #4F6815;
  padding: 50px;
  text-align: center;
}
.projects-heading {
  color: #F0E6DA;
}
.project-card {
  max-width: 500px;
  margin: 0 auto 30px auto;
  background-color: #F0E6DA;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}
.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
}
.tag {
  display: inline-block;
  background-color: #4F6815;
  color: #F0E6DA;
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 12px;
  margin-right: 8px;
}
.contact {
  background-color: #FFEDAB;
  color: #75070C;
  padding: 60px 50px;
  text-align: center;
}

.contact-desc {
  max-width: 500px;
  margin: 0 auto 30px auto;
  line-height: 1.6;
}
.contact-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #75070C;
  max-width: 400px;
  margin: 0 auto 15px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  text-decoration: none;
  color: #F0E6DA;
  transition: background-color 0.3s;
}
.contact-card:active {
  background-color: #FFEDAB;
  color: #75070C;
}
.contact-icon {
  background-color: #FFEDAB;
  color: #75070C;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.contact-card h3 {
  margin-bottom: 3px;
}
.form-label {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}
form {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input, textarea {
  padding: 10px;
  border: none;
  border-radius: 6px;
}
.btn-light {
  background-color: #75070C;
  color: #F0E6DA;
}
footer {
  background-color: #75070C;
  color: #F0E6DA;
  text-align: center;
  padding: 20px;
}
.btn:active {
  background-color: #4F6815;
}
#menu-toggle {
  display: none;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}